<div class="container">
    <div class="col-lg-6" *ngIf="identity">
        <h1>{{title}}</h1>
        <div>
            <form #userUpdate="ngForm" (ngSubmit)="update()" class="col-md-10">
                <p>
                  <label>Name</label>
                  <input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" class="form-control" required />
                </p>
                <p>
                  <label>Surname</label>
                  <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user.surname" class="form-control" required />
                </p>
                <p>
                  <label>Email</label>
                  <input type="text" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" required />
                </p>
                <div class="imageForEdit" *ngIf="user.image && user.image!=null">
                  <img src="{{url+'/user/image/'+user.image}}" style="width: 80px;margin: 10px;">
                    <label class="form-label">Upload your image</label>
                    <input type="file" class="form-control" placeholder="Upload file" (change)="fileChangeEvent($event)">
                </div>
                <br>
                <input type="submit" value="Update" class="btn btn-primary"/>
              </form>
        </div>
        
    </div>
</div>
