<div *ngIf="artist" class="container">
  <h1>{{ title }}</h1>
  <div class="row">
    <form [formGroup]="myForm" class="col-md-6" (ngSubmit)="onSubmit()">
      <p>
        <label>Name</label>
        <input
          type="text"
          class="form-control"
          [ngModel]="artist.artist.name"
          formControlName="name"
          required
        />
        <span *ngIf="isValidName()" class="form-text text-danger">The name can not be blank (min 3 char)</span>
      </p>
      <p>
        <label>Description</label>
        <textarea
          class="form-control"
          formControlName="description"
          [ngModel]="artist.artist.description"
          required
        ></textarea>
        <span *ngIf="isValidDescription()" class="form-text text-danger" >The description can not be blank </span>    
      </p>
      <p class="form-group">
        <label>Image</label>
        <input type="file" class="form-control" formControlName="image" (change)="fileChangeEvent($event)">
      </p>
      <input
        type="submit"
        class="btn btn-success"
        value="Send"
        [disabled]="myForm.invalid"
      />
      <a><button class="btn btn-primary" (click)="goBack()">Go back</button></a>
    </form>
    <div *ngIf="artist.artist.image" class="col-md-5" id="artistImage">
      <img src="{{url+'/artist/image/'+artist.artist.image}}" >
    </div>
    <div *ngIf="!artist.artist.image" class="col-md-5" id="artistImage">
      <img src="{{url+'/artist/image/IXc8_IwnlB4XBS7ASs1pX8bS.jpg'}}" >
    </div>
  </div>
</div>
