.card {
  margin: 0.5em;
  margin-right: 0.8em;
  float: left;
}
#botones *{
  margin: 0.5em;
}
#botones{
  clear: both;
}

#mainImg{
  width: 800px;
  height: 350px;
  border-radius: 20px;
  margin: 0.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
